body{ margin: 0;}


#header{
    display: flex;
    justify-content: space-around;
    background:  #1F2937;
    
}
#header a{
   
    color: white;
}
.hGroup{
    margin-top: 20px;
}

#awsome{
    height: 200px;
    display: flex;
   justify-content: center;
   background-color:  #1F2937;
   align-items: center;
   color:whitesmoke;
   
}

#awsome div{
    width: 400px;
}
div #Signup{
    background:#3882f6;
    padding-top:5px;
    border-radius: 5px;
    height: 30px;
    text-align: center;
    width:100px;
    align-items: center;
    border: solid white;
}
#Signup a{
    background:#3882f6;
    color: whitesmoke;
    text-decoration: none;
    
}
#signup1{
    
    background-color: #3882f6;
    color: whitesmoke;
    border-radius: 5px;

}

#webimg-img img{
    height:150px;
    width: 400px;

}
#flexes{
    
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    
    
}
div #boxes{
    display: flex;
    justify-content: center;
    align-items: center;

}

.empty{
  margin: 10px;
}

.empty div{
    border: solid #3882f6;
    border-radius: 5px;
    height: 100px;
    width: 100px;
}
#quote{
    background: gray;
    height:250px;
    width: auto;
    padding-top: 50px;
    justify-content: center;
    text-align: center;
}
#bubble{
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    color: white;
   
}
.inner {
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    margin: 50px;
    padding: 50px 100px 50px 100px;
}
#Signup2{
    background:#3882f6;
    padding-top:5px;
    border-radius: 5px;
    height: 30px;
    text-align: center;
    width:100px;
    align-items: center;
    border: solid white;
    margin: 40px 0px 0px 250px;
    color: white;
}
a{text-decoration: none;
color: white;}

footer{
    background-color: #1F2937;
    height: 100px;
    color: white;
    text-align: center;
    padding-top: 50px;
}
